/* overpass-regular - latin */
@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: url('/src/fonts/overpass-v10-latin/overpass-v10-latin-regular.woff2') format('woff2'),
    url('/src/fonts/overpass-v10-latin/overpass-v10-latin-regular.woff') format('woff');
}

/* overpass-700 - latin */
@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    src: url('/src/fonts/overpass-v10-latin/overpass-v10-latin-700.woff2') format('woff2'),
    url('/src/fonts/overpass-v10-latin/overpass-v10-latin-700.woff') format('woff');
}
