@use 'sass:math';

$font-family-main: 'Overpass';

$font-weight-regular: 400;
$font-weight-bold: 700;

$color-orange: hsl(25, 97%, 53%);
$color-white: hsl(0, 0%, 100%);
$color-light-grey: hsl(217, 12%, 63%);
$color-medium-grey: hsl(216, 12%, 54%);
$color-dark-blue: hsl(213, 19%, 18%);
$color-very-dark-blue: hsl(216, 12%, 8%);

$breakpoint-tablet: math.div(37.5em, 1.6);
$breakpoint-desktop-large: math.div(144em, 1.6);
