/**
 * card bem module
 */

.card {
    width: 41.4rem;
    max-width: 100%;
    padding: 2.2rem 2.2rem 3.2rem;
    border-radius: 1rem;
    color: $color-light-grey;
    background-color: $color-dark-blue;
}
